ul.a{color: blue;}

li.c{font-weight:bold;}

ul a {color: red;
    font-weight: bold;
}
ul.b{list-style-type: none;}

p.first {color:blue}
div.link a{color: rgb(230, 156, 19);}

h1 {text-decoration: underline;}

p.second a {color: rgb(163, 32, 61);}

p.second mark {color: rgb(163, 32, 61);}

